/*seecting all image tags with the thumbnail class
space between is important since its a bootstrap class*/
.thumbnail img {
    width: 100%;
}


.thumbnail{
    padding: 0;
}


.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}

